@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  line-height: 35px;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.skin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/laptop.jpg);
  background-color: #1a1a1a6e;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.profileDescription p::first-letter {
  font-size: 3em;
  font-style: italic;
}

.nav {
  border-bottom: 1px solid gray;
  padding: 20px 0;
  backdrop-filter: blur(10px);
}

.navItem {
  padding: 5px 15px;
  margin: 5px;
  border: none;
  box-shadow: 0 1px 2px white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.navItem:hover {
  color: gray;

}

.profile {
  padding: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  height: 75vh;
}

.profileImage {
  align-self: center;
  width: 134px;
  height: 100px;
  border-radius: 12px;
  align-self: center;
  box-shadow: 0 0 4px 2px gray;
}

.profileImage img {
  border-radius: 5px;
}

.profileDescription {
  align-self: center;
  color: white;
  line-height: 35px;
}

footer {
  text-align: center;
  color: white;
  margin: 20px;
}

.icon {
  padding: 10px;
  border: 1px solid gray;
  margin: 0 5px;
  border-radius: 50%;
  font-size: 2em;
  transition: all 0.3s;
}

.icon:hover {
  color: gray;
}

.companywise {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px white;
}

.companywise img {
  width: 300px;
  height: 130px;
  border-radius: 5px;
}

.companyname {
  font-size: 2em;
  font-weight: 100;
  color: rgb(28, 28, 94);
}

.title {
  font-size: 2.3em;
  color: gainsboro;
  text-align: center;
}

.pointerTitle {
  font-size: 1.3em;
  color: rgb(2, 23, 106);
  margin: 10px 0;
}

.companyIntro {
  flex-basis: 300px;
  flex-shrink: 0;
}

.skillCover {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.skill {
  text-align: center;
  width: 200px;
  border-radius: 5px;
  height: 130px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 100;
  color: #616161;
  text-shadow: 0 1px gray;
  background-color: white;
  align-items: center;
  transition: all 0.3s;
}

.skill:hover {
  background-color: gainsboro;
}

.exp {
  font-size: 0.5em;
  text-shadow: 0 0 gray;
  color: rgb(163, 163, 163);
  line-height: 11px;
}

.mem {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-style: italic;
}